<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>React + Thymeleaf App</title>
<!--    <link rel="stylesheet" href="/static/styles.css">-->
</head>
<body>
<div id="react-root">
    <p>tu bedzie link do kreatora map</p>
    <p>tu bedzie link do wyswietlenia swoich map</p>
    <!-- React will take over this part -->
</div>
<div id="server-rendered-content">
    <h1>Mapixel</h1>
    <p>Witaj, <span th:text="${username}">nazwa</span>!</p>
    <p th:if="${hasMaps}">Chcesz tworzyć jeszcze lepsze mapy? Mamy dla Ciebie kilka porad!</p>
    <p th:unless="${hasMaps}">Wygląda na to, że nie masz jeszcze ani jednej mapy. Mamy dla ciebie kilka poradników na start!</p>

</div>
</body>
</html>